.container{
    background-image:url(images/employee.webp) ;
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat;
    height:400px;
}
.big-div{
    display: flex;
    gap:20px;
    justify-content: center;
    margin-top: 400px;
}
.div1 img{
    width:300px;
    height:250px;
}
.div2 img{
    width:300px;
    height:250px;
}
.div3 img{
    width:300px;
    height:250px;
}
.container h1{
    background-color:aqua;
    color: white;
    font-size: 20px;
    margin: 15px 40px;
    margin-top: 200px; 
}
.nav{
    display: flex;
    list-style: none;
    gap: 200px;
    margin: 50px;
}
.nav a{
    text-decoration: none;
    color: blue
}
.small-div{
    background-image: url('images/employee.webp');
    background-size: 100% auto;
}
.p1{
    background-image: url('images/employee1.webp');
     width: 400%;
    height: 400px; 
    background-size: 100%;
}
.p2{
    background-image: url('images/employee2.webp');
     width: 400%;
    height: 400px; 
    background-size: 100% ;
}
.p3{
    background-image: url('images/employee3.webp');
     width: 400%;
    height: 400px; 
    background-size: 100% ;
}
.p4{
    background-image: url('images/employee4.webp');
     width: 400%;
    height: 400px; 
    background-size: 100% ;
}
.p1, .p2, .p3, .p4{
    width: 300px;
    height: 250px;
}
.large-div{
    display: flex;
    /* margin:100px; */
    gap: 20px;
}
